from socket import socket, AF_INET, SOCK_STREAM

s = socket(AF_INET, SOCK_STREAM)

# Connecting to host on port ...
s.connect(("HOST", PORT))

# Sending packet
s.send(payload)

# Receiving packet
res = s.recv(1024)

# Close socket
s.close()
